.timeLocation{
    /* border: 1px solid lightgrey; */
    height: 4rem;
}

.deliveryTime{
    padding: 3vh 5vh 1vh 5vh;
    font-weight: bold;
}
.deliveryLocation{
   padding: 0 5vh;
   font-size: 1rem;
}