.footerSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 75px;
  }
  .services{
    border: 1px solid  rgb(238, 238, 238);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    width: 25%;
    padding: 30px;
  }
  .services img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: center;
    margin: 10px;
  }
  .services :nth-child(2){
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 10px;
  }

  .services :nth-child(3){
    color: lightgrey;
    text-align: center;
  }