$color_1: grey;
$color_2: white;
$background-color_1: rgb(248,248,248);
$background-color_2: green;
$background-color_3: rgb(169, 62, 62);

.itemsAddedToCart {
	margin-top: 20px;
}
.itemAddedToCart {
	display: flex;
	justify-content: space-between;
}
.itemDetailCart {
	display: flex;
	justify-content: left;
	align-items: center;
	margin: 10px;
}
.itemImage {
	background-color: $background-color_1;
	width: 5rem;
	height: 5rem;
	border: 1px solid rgb(238,238,238);
	border-radius: 12px;
	margin-right: 10px;
	img {
		width: 5rem;
		height: 5rem;
		border: 1px solid rgb(238,238,238);
		border-radius: 12px;
	}
}
.itemPurchaseDetails {
	 
		&:nth-child(1) {
			font-size: 1rem;
			font-weight: 400;
		}
	
	&:nth-child(2) {
		font-size: 0.75rem;
		color: $color_1;
		margin-bottom: 20px;
	}
	span {
		font-size: 1rem;
		color: $color_1;
		text-decoration: line-through;
	}
}
.quantitySelectorCart {
	display: flex;
	height: max-content;
	background-color: $background-color_2;
	padding: 8px;
	border-radius: 8px;
	div {
		color: $color_2;
		font-size: 15px;
		font-weight: 650;
		text-align: center;
		padding: 5px;
		cursor: pointer;
	}
}
.wrapper {
	display: flex;
}
.clearCart {
	background-color: $background-color_3;
	color: $color_2;
	font-size: 12px;
	font-weight: 500;
	padding: 8px;
	border-radius: 0.5rem;
	width: fit-content;
	margin-top: 1rem;
	cursor: pointer;
}
