.remove{
    background-color: rgb(169, 62, 62);
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    border-radius: 0.5rem;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    margin-top: 0.3rem;
  }