.menu1 ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
   
    border-top: solid 0.5px lightgrey;
    border-bottom: solid 0.5px lightgrey;
  }

  .menu1List li {
    margin: 15px;
    font-size: 14px;
    color: rgb(141, 139, 139);
  }

  .menu1List div:hover{
    cursor: pointer;
    background-color: #f7f7f7;
  }
