.SortByWrapper{
    display: flex;
    
    .SortByLabel{
        font-size: 0.75rem;
        margin: 1rem;
    }
    .SortBySelect{
        font-size: 0.75rem;
        color: green;
    }

      
}




