$color_1: lightgrey;

.footerSection {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 4rem;
}
.services {
	border: 1px solid rgb(238, 238, 238);
	border-radius: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 25%;
	padding: 30px;
	img {
		width: 6rem;
		height: 6rem;
		border-radius: 50%;
		float: center;
		margin: 10px;
	}
	.servicesHeader {
		font-size: 1rem;
		font-weight: 600;
		text-align: center;
		margin: 0.5px;
	}
	.servicesText {
		color: $color_1;
		text-align: center;
	}
}
